@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #e5e5e5;
  display: flex;
  padding-top: 5rem;
  justify-content: center;
  overflow: hidden;
  margin: 0;
}

.row {
  display: flex;
  width: 600px;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.col-header {
  width: 150px;
  box-shadow: 4px 4px 9px rgba(198, 198, 198, 0.36);
  border-radius: 20px;
  padding: 0.8rem 1rem;
  color: #fff;
}

.item {
  width: 150px;
  height: 66px;
  border: 1px solid #eee;
  box-shadow: 4px 4px 9px rgba(198, 198, 198, 0.36);
  border-radius: 20px;
  background: #f7f6f7;
  padding: 0.8rem 1rem;
  color: #828282;
  text-align: center;
  cursor: grab;
  margin: 10px;
}

.item:active {
  cursor: grabbing;
}

.placeholder {
  width: 150px;
  height: 66px;
}

.start {
  background: linear-gradient(90deg, #228abb 0%, #3d17a7 179.25%);
}

.progress {
  background: linear-gradient(90deg, #9b20ff 0%, #68e0cf 100%);
}

.done {
  background: linear-gradient(90deg, #a01cac 0%, #f48fa8 100%);
}

.hold{
  border: 5px solid rgb(200, 187, 218);
}

.hide {
  display: none;
}

.hovered{
  border-top: 6px double rgb(86, 9, 173) ;
}

.col-header {
  border: 2px dotted rgba(71, 76, 124, 0.315);
  padding: 6px;
  color: #291ec0;
  text-align: center;
  margin-left: 20px;
}

.trash {
  
  border: 2px dotted rebeccapurple;
  display: flex;
  border-radius: 20px;
  text-align: center;
  padding: 15px;
  width: 150px;
  cursor: pointer;
  position: relative;
  left: 100px;
  bottom: -450px;
  background: linear-gradient(66deg, blue 10%, pink 200% );
}